---
http_interactions:
- request:
    method: get
    uri: https://www.xboxleaders.com/api/2.0/achievements.json?gamertag=Major%20Nelson&gameid=1297287449
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      location:
      - https://www.xboxleaders.com/api/achievements.json?gamertag=Major%20Nelson&gameid=1297287449
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://www.xboxleaders.com/api/achievements.json?gamertag=Major%20Nelson&amp;gameid=1297287449">here</a>.</p>
        <hr>
        <address>Apache/2.2.22 (Ubuntu) Server at www.xboxleaders.com Port 443</address>
        </body></html>
  recorded_at: Sat, 03 May 2014 02:00:40 GMT
- request:
    method: get
    uri: https://www.xboxleaders.com/api/achievements.json?gamertag=Major%20Nelson&gameid=1297287449
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "success",
            "version": "2.0",
            "data": {
                "gamertag": "Major Nelson",
                "game": "Halo 4",
                "id": 1297287449,
                "hid": "4d530919",
                "gamerscore": {
                    "current": 845,
                    "total": 2000
                },
                "achievement": {
                    "current": 44,
                    "total": 86
                },
                "progress": 51,
                "lastplayed": 1378527782,
                "achievements": [
                    {
                        "id": 192,
                        "title": "Got it!",
                        "artwork": {
                            "locked": "https://live.xbox.com/tiles/oY/Tb/1Tc8P2NhbC8VCgVLBRxYWlA5L2FjaC8wLzEwYQAAAAFQUFD69IS8.jpg",
                            "unlocked": "https://image-ssl.xboxlive.com/global/t.4d530919/ach/0/10a"
                        },
                        "description": "In Bullseye DLC matchmaking, acquire the Rocket Launcher at the start of a match on Pitfall.",
                        "gamerscore": 20,
                        "secret": false,
                        "unlocked": true,
                        "unlockdate": 1377929443,
                        "unlockedoffline": false
                    },
                    {
                        "id": 155,
                        "title": "I Thrust at Thee",
                        "artwork": {
                            "locked": "https://live.xbox.com/tiles/nV/iw/0Tc8P2NhbC8XXhtUGltTWDE5L2FjaC8wL2RjAAAAAVBQUP6fWIE=.jpg",
                            "unlocked": "https://image-ssl.xboxlive.com/global/t.4d530919/ach/0/dc"
                        },
                        "description": "In Majestic DLC matchmak[...]
