---
http_interactions:
- request:
    method: get
    uri: https://www.xboxleaders.com/api/2.0/profile.json?gamertag=fajdkfjdife99fgsd%3CF2%3E
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      location:
      - https://www.xboxleaders.com/api/profile.json?gamertag=fajdkfjdife99fgsd%3CF2%3E
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://www.xboxleaders.com/api/profile.json?gamertag=fajdkfjdife99fgsd%3CF2%3E">here</a>.</p>
        <hr>
        <address>Apache/2.2.22 (Ubuntu) Server at www.xboxleaders.com Port 443</address>
        </body></html>
  recorded_at: Sat, 03 May 2014 01:57:35 GMT
- request:
    method: get
    uri: https://www.xboxleaders.com/api/profile.json?gamertag=fajdkfjdife99fgsd%3CF2%3E
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "error",
            "version": "2.0",
            "data": {
                "code": 500,
                "message": "There was an internal server error."
            },
            "runtime": 2.378
        }
  recorded_at: Sat, 03 May 2014 01:57:38 GMT
recorded_with: VCR 2.9.0
