---
http_interactions:
- request:
    method: get
    uri: https://www.xboxleaders.com/api/2.0/games.json?gamertag=Major%20Nelson
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      location:
      - https://www.xboxleaders.com/api/games.json?gamertag=Major%20Nelson
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://www.xboxleaders.com/api/games.json?gamertag=Major%20Nelson">here</a>.</p>
        <hr>
        <address>Apache/2.2.22 (Ubuntu) Server at www.xboxleaders.com Port 443</address>
        </body></html>
  recorded_at: Sat, 03 May 2014 02:00:10 GMT
- request:
    method: get
    uri: https://www.xboxleaders.com/api/games.json?gamertag=Major%20Nelson
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "success",
            "version": "2.0",
            "data": {
                "gamertag": "Major Nelson",
                "gamerscore": {
                    "current": 68567,
                    "total": 607460
                },
                "achievements": {
                    "current": 3532,
                    "total": 26222
                },
                "totalgames": 796,
                "progress": 13,
                "games": [
                    {
                        "id": 1297290392,
                        "hid": "4d531498",
                        "isapp": false,
                        "title": "Hexic",
                        "artwork": {
                            "small": "http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d8024d531498/1033/boxartsm.jpg",
                            "large": "http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d8024d531498/1033/boxartlg.jpg"
                        },
                        "gamerscore": {
                            "current": 30,
                            "total": 200
                        },
                        "achievements": {
                            "current": 3,
                            "total": 15
                        },
                        "progress": 20,
                        "lastplayed": 1398995643
                    },
                    {
                        "id": 1297292176,
                        "hid": "4d531b90",
                        "isapp": false,
                        "title": "Microsoft Bingo",
                        "artwork": {
                            "small": "http://download.xbox.com/content/images/66acd000-77fe-1000-9115-d8024d531b90/1033/boxartsm.jpg",
                            "large": "http://download.xbox.com/content/images/66acd000-77fe-10[...]
