---
http_interactions:
- request:
    method: get
    uri: https://www.xboxleaders.com/api/2.0/profile.json?gamertag=Major%20Nelson
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      location:
      - https://www.xboxleaders.com/api/profile.json?gamertag=Major%20Nelson
      content-type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://www.xboxleaders.com/api/profile.json?gamertag=Major%20Nelson">here</a>.</p>
        <hr>
        <address>Apache/2.2.22 (Ubuntu) Server at www.xboxleaders.com Port 443</address>
        </body></html>
  recorded_at: Sat, 03 May 2014 01:57:32 GMT
- request:
    method: get
    uri: https://www.xboxleaders.com/api/profile.json?gamertag=Major%20Nelson
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": "success",
            "version": "2.0",
            "data": {
                "gamertag": "Major Nelson",
                "tier": "gold",
                "badges": {
                    "xboxlaunchteam": true,
                    "nxelaunchteam": true,
                    "kinectlaunchteam": true
                },
                "avatar": {
                    "full": "http://avatar.xboxlive.com/avatar/Major Nelson/avatar-body.png",
                    "small": "http://avatar.xboxlive.com/avatar/Major Nelson/avatarpic-s.png",
                    "large": "http://avatar.xboxlive.com/avatar/Major Nelson/avatarpic-l.png",
                    "tile": "http://avatar.xboxlive.com/avatar/Major%20Nelson/avatarpic-l.png"
                },
                "gamerscore": 68567,
                "reputation": 20,
                "presence": "Last seen 7 hours ago playing Xbox.com",
                "online": false,
                "motto": "Find me @majornelson",
                "name": "Larry Hryb, Xbox LIVE&#39;s Major Nelson",
                "location": "In your Xbox",
                "biography": "Yes I work for Xbox. Please send text messages only since it&#39;s easier for me to respond. If you need help be sure to follow Xbox Support on Twitter. Twitter.com/@Xboxsupport",
                "recentactivity": null,
                "freshness": "new"
            },
            "runtime": 2.743
        }
  recorded_at: Sat, 03 May 2014 01:57:35 GMT
recorded_with: VCR 2.9.0
